{% extends 'global/base_template.html' %}
{% block style %}
    .container {
        max-width: 600px;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        padding: 30px;
        margin: 50px auto;
    }

    h2 {
        color: #007bff;
        text-align: center;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-label {
        color: #007bff;
        font-weight: bold;
        display: block;
        margin-bottom: 8px;
    }

    .form-input {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #007bff;
        border-radius: 5px;
        box-sizing: border-box;
    }

    .form-file-label {
        display: inline-block;
        width: 96.5%;
        padding: 10px;
        background-color: #ffffff;
        color: #007bff;
        text-align: center;
        border: 1px solid #007bff;
        border-radius: 5px;
        cursor: pointer;
    }

    .form-file-label:hover {
        background-color: #007bff;
        color: #ffffff;
    }

    .form-file-input {
        display: none;
    }

    .form-submit {
        background-color: #007bff;
        color: #ffffff;
        border: none;
        padding: 12px 20px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
    }

    .form-submit:hover {
        background-color: #0056b3;
    }

    img {
        max-width: 100%;
        height: auto;
    }
{% endblock style %}

{% block content %}
<div class="container">
    {% if not challenge %}
    <h2>Criar Desafio</h2>
    <form action="{% url 'challenge:challenge' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.errors %}
            <ul class="errorlist">
                {% for field in form %}
                    {% for error in field.errors %}
                        <li><strong>{{ field.label }}:</strong> {{ error|escape }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}
        <div class="form-group">
            {{ form.name }}
        </div>
        <div class="form-group">
            {{ form.description }}
        </div>
        <div class="form-group">
            {{ form.rule }}
        </div>
        <div class="form-group">
            <label for="create_banner" class="form-file-label">Escolha um arquivo</label>
            <input type="file" name="banner" id="create_banner" class="form-file-input">
        </div>
        <div class="form-group">
            <input type="date" id="create_end_date" name="end_date" class="form-input">
        </div>
        <div class="form-group">
            <input type="submit" value="Criar Desafio" class="form-submit">
        </div>
    </form>
    {% elif perms.user.can_update_challenge %}
    <h2>Atualizar Desafio</h2>
    <form action="{% url 'challenge:challenge-detail' challenge.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.errors %}
            <ul class="errorlist">
                {% for field in form %}
                    {% for error in field.errors %}
                        <li><strong>{{ field.label }}:</strong> {{ error|escape }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}
        <div class="form-group">
            {{ form.name }}
        </div>
        <div class="form-group">
            {{ form.rule }}
        </div>
        <div class="form-group">
            {{ form.description }}
        </div>
        <div class="form-group">
            <img src="{{ challenge.banner.url }}" alt="Challenge banner">
            <label for="update_banner" class="form-file-label">Escolha um arquivo</label>
            <input type="file" name="banner" id="update_banner" class="form-file-input">
        </div>
        <div class="form-group">
            <input type="date" id="update_end_date" name="end_date" class="form-input" value="{{ challenge.end_date|date:'Y-m-d' }}">
        </div>

        <div class="form-group">
            <input type="submit" value="Atualizar Desafio" class="form-submit">
        </div>
    </form>
    {% else %}
    <h2>Detalhes do Desafio</h2>
    <div class="form-group">
        <label for="name" class="form-label">Nome:</label>
        <input type="text" id="name" class="form-input" value="{{ challenge.name }}" readonly>
    </div>
    <div class="form-group">
        <label for="description" class="form-label">Descrição:</label>
        <textarea id="description" class="form-input" rows="5" readonly>{{ challenge.description }}</textarea>
    </div>
    <div class="form-group">
        <label for="rule" class="form-label">Regras:</label>
        <textarea id="rule" class="form-input" rows="5" readonly>{{ challenge.rule }}</textarea>
    </div>
    <div class="form-group">
        <label for="banner" class="form-label">Banner:</label>
        <img src="{{ challenge.banner.url }}" id="banner" alt="Challenge banner">
    </div>
        {% if challenge.end_date %}
        <div class="form-group">
            <label for="end_date" class="form-label">Data de encerramento:</label>
            <input type="text" id="end_date" class="form-input" value="{{ challenge.end_date }}" readonly>
        </div>
        {% endif %}
    {% endif %}
</div>
{% endblock content %}
