{% extends 'global/base_template.html' %}
{% block style %}
    .container {
        max-width: 800px;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        text-align: center;
        position: fixed;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .desafio {
        display: inline-block;
        position: relative;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        width: calc(33.33% - 20px);
        box-sizing: border-box;
        overflow: hidden;
        background-color: #ffffff;
    }
    .desafio .imagem {
        background-size: cover;
        background-position: center;
        height: 200px;
        position: relative;
    }
    .desafio .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0.7;
        transition: opacity 0.3s ease;
    }
    .desafio:hover .overlay {
        opacity: 0.9;
    }
    .desafio .texto {
        position: absolute;
        bottom: 20px;
        left: 20px;
        right: 20px;
        color: #ffffff;
        text-align: center;
        z-index: 1;
    }
    .desafio h2 {
        margin: 0;
        font-size: 1.5em;
    }
    .desafio p {
        margin: 10px 0 0;
    }
    .no-challenges {
        background-color: #fff;
        padding: 40px;
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 400px;
        text-align: center;
        margin: 0 auto;
        margin-top: 20px;
    }
{% endblock style %}

{% block content %}
<div class="container">
    {% if challenges %}
        {% for challenge in challenges %}
            <div class="desafio">
                <div class="imagem" style="background-image: url('{{ challenge.banner.url }}');">
                    <a href="{% url 'challenge:challenge-detail' challenge.id %}">
                        <div class="overlay"></div>
                        <div class="texto">
                            <h2>{{ challenge.name }}</h2>
                            <p>{{ challenge.description }}</p>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="no-challenges">
            <p>Não existem desafios lançados.</p>
        </div>
    {% endif %}
</div>
{% endblock content %}
