{% extends 'global/base_template.html' %}

{% block style %}
    .container {
        max-width: 900px;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        padding: 30px;
        margin: 50px auto;
        margin-bottom: 50px; /* Espaço extra no final do container */
    }

    h2 {
        color: #007bff;
        text-align: center;
        margin-bottom: 30px;
    }

    .user-box {
        background-color: rgba(0, 0, 0, 0.05); /* Fumaça no fundo */
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .user-info {
        flex: 1;
        text-align: center; /* Centraliza o texto */
    }

    .profile-picture {
        border-radius: 50%;
        max-width: 150px;
        margin-bottom: 20px;
    }

    .profile-info {
        margin-bottom: 20px;
    }

    .profile-info span {
        display: block;
        font-weight: bold;
        color: #333333;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-group label {
        display: block;
        font-weight: bold;
        margin-bottom: 8px;
    }

    .form-group input, .form-group select, .form-group textarea {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #007bff;
        border-radius: 5px;
        box-sizing: border-box;
    }

    .form-submit {
        background-color: #007bff;
        color: #ffffff;
        border: none;
        padding: 12px 20px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
    }

    .form-submit:hover {
        background-color: #0056b3;
    }

    .cancel-link {
        display: block;
        text-align: center;
        margin-top: 20px;
        text-decoration: none;
        color: #007bff;
    }

    .user-actions {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;
    }

    .user-actions a {
        text-decoration: none;
        color: #007bff;
        padding: 10px 20px;
        border-radius: 4px;
        transition: background-color 0.3s;
    }

    .user-actions a:hover {
        background-color: #e0e0e0;
    }

    .user-actions a.delete,
    .user-actions form button.delete {
        color: #ffffff;
        background-color: #ff4d4d;
        padding: 5px 10px;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    .user-actions a.delete:hover,
    .user-actions form button.delete:hover {
        background-color: #ff1a1a;
    }

    .user-actions a.back {
        color: #007bff;
    }

    .icon {
        margin-right: 5px;
    }
{% endblock style %}

{% block content %}
<div class="container">
    <h2>Informações do usuário</h2>
    <div class="user-box">
        <div class="user-info">
            <form action="{% url 'user:profile' user.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Nome de Usuário:</label>
                    <input type="text" id="username" name="username" value="{{ user.username }}" required readonly>
                </div>
                <div class="form-group">
                    <label for="cpf">CPF:</label>
                    <input type="text" id="cpf" name="cpf" value="{{ user.cpf }}" required readonly>
                </div>
                <div class="form-group">
                    <label for="name">Nome:</label>
                    <input type="text" id="name" name="first_name" value="{{ user.first_name }}" required>
                </div>
                <div class="form-group">
                    <label for="last_name">Sobrenome:</label>
                    <input type="text" id="last_name" name="last_name" value="{{ user.last_name }}" required>
                </div>
                <div class="form-group">
                    <label for="password">Senha:</label>
                    <input type="password" id="password" name="password" value="">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" value="{{ user.email }}" required>
                </div>
                <div class="form-group">
                    <label for="phone">Telefone:</label>
                    <input type="text" id="phone" name="phone" value="{{ user.phone }}" required>
                </div>
                <button type="submit" class="form-submit">Salvar Alterações</button>
            </form>
        </div>
    </div>
    <div class="user-actions">
        {% if perms.user.can_manage_user %}
        <a href="{% url 'user:list-users' %}" class="back">
            <span class="icon">🔙</span> Voltar para Lista
        </a>
        {% endif %}
        <form action="{% url 'user:delete-account' user.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="delete">
                <span class="icon">🗑️</span> Deletar Conta
            </button>
        </form>
    </div>
</div>
{% endblock content %}

